body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

/* Board container */
#board {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 30px auto;
  background-color: #fff;
  border: 2px solid #333;
}

/* Draw squares */
#board::before,
#board::after {
  content: "";
  position: absolute;
  border: 2px solid #333;
}

#board::before {
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}

#board::after {
  top: 80px;
  left: 80px;
  right: 80px;
  bottom: 80px;
}

/* Board points */
.point {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
/* Outer square */
.point[data-id="0"] {
  top: 0%;
  left: 0%;
}
.point[data-id="1"] {
  top: 0%;
  left: 50%;
}
.point[data-id="2"] {
  top: 0%;
  left: 100%;
}
.point[data-id="3"] {
  top: 50%;
  left: 100%;
}
.point[data-id="4"] {
  top: 100%;
  left: 100%;
}
.point[data-id="5"] {
  top: 100%;
  left: 50%;
}
.point[data-id="6"] {
  top: 100%;
  left: 0%;
}
.point[data-id="7"] {
  top: 50%;
  left: 0%;
}

/* Middle square */
.point[data-id="8"] {
  top: 12.5%;
  left: 12.5%;
}
.point[data-id="9"] {
  top: 12.5%;
  left: 50%;
}
.point[data-id="10"] {
  top: 12.5%;
  left: 87.5%;
}
.point[data-id="11"] {
  top: 50%;
  left: 87.5%;
}
.point[data-id="12"] {
  top: 87.5%;
  left: 87.5%;
}
.point[data-id="13"] {
  top: 87.5%;
  left: 50%;
}
.point[data-id="14"] {
  top: 87.5%;
  left: 12.5%;
}
.point[data-id="15"] {
  top: 50%;
  left: 12.5%;
}

/* Inner square */
.point[data-id="16"] {
  top: 25%;
  left: 25%;
}
.point[data-id="17"] {
  top: 25%;
  left: 50%;
}
.point[data-id="18"] {
  top: 25%;
  left: 75%;
}
.point[data-id="19"] {
  top: 50%;
  left: 75%;
}
.point[data-id="20"] {
  top: 75%;
  left: 75%;
}
.point[data-id="21"] {
  top: 75%;
  left: 50%;
}
.point[data-id="22"] {
  top: 75%;
  left: 25%;
}
.point[data-id="23"] {
  top: 50%;
  left: 25%;
}

/* Hover effect */
.point:hover {
  background-color: red;
}

/* Player pieces */
.point.p1 {
  background-color: brown;
}

.point.p2 {
  background-color: white;
  border: 2px solid black;
}
